name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    env:
      CORS_ALLOWED_ORIGINS: "http://localhost:3000"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Make bin scripts executable
        run: |
          if [ -d bin ]; then
            chmod +x bin/* || true
          fi

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

  lint:
    runs-on: ubuntu-latest
    env:
      CORS_ALLOWED_ORIGINS: "http://localhost:3000"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Make bin scripts executable
        run: |
          if [ -d bin ]; then
            chmod +x bin/* || true
          fi

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Auto-correct Ruby style issues (best-effort)
        run: |
          bundle exec rubocop -a || true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    env:
      CORS_ALLOWED_ORIGINS: "http://localhost:3000"

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

      # redis:
      #   image: redis
      #   ports:
      #     - 6379:6379
      #   options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y build-essential git libpq-dev libyaml-dev pkg-config

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Make bin scripts executable
        run: |
          if [ -d bin ]; then
            chmod +x bin/* || true
          fi

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true